:host {
  width: 100%;
  height: 100%;
  padding: var(--content-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1000px;

    h2 {
      padding: var(--default-padding);
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .input-place {
        padding: var(--default-padding);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        label {
          margin-right: var(--default-padding);
        }

        .input-wrapper {
          display: flex;
          flex-direction: column;
          width: 100%;
          padding: 5px var(--default-padding);
          flex: 1 1 auto;
          border-bottom: 1px solid #ccc;
          background: white;
          border-radius: 5px;

          input {
            &:focus {
              outline: none;
            }
            width: 100%;
            border: none;
            padding: 0;
            background: transparent;
            color: #4d7585;
          }
        }
      }

      span {
        color: #c04444;
      }

      button[type="submit"] {
        position: relative;
        width: 100%;
        max-width: 250px;
        height: 35px;
        margin: var(--default-padding);
        border: none;
        background-color: #4d7585;
        color: white;
        font-size: 16px;
        font-weight: normal;
        border-radius: 15px;
        cursor: pointer;
        overflow: hidden;

        app-loader-bar {
          --height: 4px;
        }

        &[disabled] {
          background-color: #ccc;
          cursor: not-allowed;
        }
      }
    }
  }
}
