<h2>Crear Usuario</h2>


<form>
  <div class="input-place">
    <label>Nombre Completo</label>
    <div class="input-wrapper">
      <input type="text" placeholder="Ej: Juanito Pérez">
    </div>
  </div>
  <div class="input-place">
    <label>Número de Cédula</label>
    <div class="input-wrapper">
      <input type="text" placeholder="Ej: 1026455777">
    </div>
  </div>
  <div class="input-place">
    <label>Fecha de nacimiento</label>
    <div class="input-wrapper">
      <input type="date">
    </div>
  </div>

  <button type="submit">Crear</button>
</form>

