<main>

  <h2>Crear Usuario</h2>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="input-place">
      <label>Nombre Completo</label>
      <div class="input-wrapper">
        <input type="text" formControlName="fullname" placeholder="Ej: Juanito Pérez">
      </div>
    </div>
    <span *ngIf="userForm.get('fullname')?.invalid && userForm.get('fullname')?.touched">El nombre debe tener al menos 10 caracteres.</span>
    <div class="input-place">
      <label>Número de Cédula</label>
      <div class="input-wrapper">
        <input type="number" formControlName="identification" placeholder="Ej: 1026455777">
      </div>
    </div>
    <span *ngIf="userForm.get('identification')?.invalid && userForm.get('identification')?.touched">Ingrese un valor valido.</span>
    <div class="input-place">
      <label>Fecha de nacimiento</label>
      <div class="input-wrapper">
        <input formControlName="birthdate" max="{{maxDate|date:'yyyy-MM-dd'}}" type="date">
      </div>
    </div>
    <span *ngIf="userForm.get('birthdate')?.invalid && userForm.get('birthdate')?.touched">Ingrese un valor valido.</span>

    <button type="submit"
      [disabled]="userForm.invalid && userForm.dirty && loading">
        Guardar
        <app-loader-bar *ngIf="loading"></app-loader-bar>
    </button>
    <span *ngIf="error && error.length > 0">{{error}}</span>
  </form>

</main>
