/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --default-padding: 16px;
  --content-padding: calc(var(--default-padding) * 2);
}

body {
  width: 100%;
  height: 100vh;
  font-size: 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #444547;


  button {
    font-weight: bold;
    color: #444547;
  }
}
